{{> 'crudHeader'}}
	<div class="container">
		<form id="form" method="post" action="/user/edit/{{model._id}}" name="addUser">
			<label>* = required</label>
			<br/>
			<label>Name* :</label>
			<input type="text" name="name" id="name" value="{{model.name}}"/>
			<br/>
			<label>Tel. Nr:</label>
			<input type="number" name="telNr" id="telNr" value="{{model.telNr}}"/>
			<br/>
			<label>Role* :</label>
			<select name="role" id="role">
				<option value="user">User</option>
				<option value="moderator" >Moderator</option>
				<option value="admin">Admin</option>
			</select>
			<br/>
			<input type="submit" value="Submit">
		</form>
	</div>
	<script>
		$("#role").val('{{model.role}}').prop('selected', true);
	</script>
{{> 'crudFooter'}}