{{> 'crudHeader'}}
	<div class="container">
		<form id="form" method="post" action="">
			<label>* = required</label>
			<br/>
			<label>Name* :</label>
				<input type="text" name="name" id="name" placeholder="insert name here"/>
			<br/>
			<label>Description* :</label>
				<input type="text" name="description" id="description" placeholder="insert description here"/>
			<br/>
			<label>Geolocations :</label>
			<select name="geolocation">
				{{#each geolocationArray}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
			<br/>
			<label>Start date & time:</label>
				<input type="datetime-local" class="datepicker" data-date-format="mm/dd/yyyy" name="startDateTime" id="startDateTime"></input>
			<br/>
			<label>End date & time:</label>
				<input type="datetime-local" class="datepicker" data-date-format="mm/dd/yyyy" name="endDateTime" id="endDateTime"></input>
			<br/>
				<input hidden type="text" id="timezone" name="timezone"></input>
			<input type="submit" value="Submit">
		</form>
	</div>
<script src="/moment.js"></script>	
<script>
	var timezone = moment.parseZone(moment().format()).format('Z');
	document.getElementById("timezone").value = timezone;
</script>
{{> 'crudFooter'}}