{{> 'crudHeader'}}
	<div class="container">
		<form id="form" method="post" action="">
			<label>* = required</label>
			<br/>
			<label>Name* :</label>
			<input type="text" name="name" id="name" value="{{model.name}}"/>
			<br/>
			<label>Description* :</label>
			<textarea name="description" id="description">{{model.description}}</textarea>
			<br/>
			<label>Start date & time:</label>
				<input type="datetime-local" name="startDateTime" id="startDateTime" value="{{model.startDateTime}}"/>
			<br/>
			<label>End date & time:</label>
				<input type="datetime-local" name="endDateTime" id="endDateTime" value="{{model.endDateTime}}"/>
			<br/>
			<label>Timezone</label>
				<input type="text" id="timezone" name="timezone"</input>
			<br/>
			<input type="submit" value="Submit">
		</form>
	</div>
<script src="/moment.js"></script>	
<script>
	var timezone = moment.parseZone(moment().format()).format('Z');
	document.getElementById("timezone").value = timezone;
</script>
{{> 'crudFooter'}}
